body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.layout{
    display: block;

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }
}

header{
    padding: 20px;

    img {
        width:80px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
}


.intro{
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    color: var(--white);
    padding: 1.5rem;

    p{
        margin: 1rem 0;
       
    }

    button{
    background-color: transparent;
    color: var(--white);
    }

    @media (min-width: 700px) {
        grid-column: 1;
        grid-row: 1;
        padding: 2.5rem;
    }
}

.forecast{
    display: grid;
    grid-column: 1 / -1;
    padding: 1rem;
    background-color: var(--secondary-color);

    table{
        width: 100%;
    } 

    img{
       width: 25px;
       height: 25px;
    }

    
    @media (min-width: 700px) {
        grid-column: 1;
        grid-row: 2;
        padding: 2rem 4rem;
    }

}


form{
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    

    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    legend{
        padding: 0.5rem 0;
        font-weight: 700;
        font-size: 30px;
        
    }

    label{
        gap: 10px;
    }

    input {
            width: 95%;
            padding: 17px 17px;
            border-radius: 100px;
            border: 1px solid var(--black);
            
            &::placeholder{
                color: var(--black);
                text-align: center;
            }

            &:focus-visible{
                outline: 3px solid var(--primary-color);
                outline-offset: 3px;
                border-color: var(--primary-color);
            }

        }

        button{
            width:95%;
            border-radius: 100px;
            padding: 17px 17px;
            background-color: var(--black);
            color: var(--white);
            transition: background-color 0.2s ease-in;

            &:hover,
            &:focus-visible{
                background-color: var(--primary-color);
                cursor: pointer;
            }
        }

        
        @media (min-width: 700px) {
        grid-column: 1;
        grid-row: 3;
        padding: 2rem 4rem;
        }
}

/* animatie interactie */
@keyframes rotateText{
    0%{
        transform: rotate(0deg);
       
    }

    50%{
        transform:rotate(360deg);
        background-color: var(--primary-color);
    }

    100%{
        transform: rotate(0deg);
        background-color: var(--primary-color);
    }
}

.rotate-text{
    animation-name: rotateText;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    
}

.button-text{
    display: inline-block;
}

.button-succes{
    background-color: var(--primary-color);
    color: var(--white);
}

.current-weather{
    background-color: var(--background-weather);

}

 .current-temp{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    background-color: var(--background-weather); 
    padding: 2.5rem;
    margin-top: 1.5rem;
   

    h2{
        grid-column: 1;
        grid-row: 1 / 3;
        margin: 1.5rem;
        font-size: 60px;
        line-height: 28px;
        font-weight: 700; 
    }

    p:first-of-type{
        grid-column: 2;
        grid-row: 1;
        font-weight: 700;
        font-size: 20px;
    }

    p:last-of-type{
        grid-column: 2;
        grid-row: 2;
        font-weight:400;
        font-size: 15px;
        
    }
    
}

.activities,
.avoid-activities{
    padding: 1rem;


    img{
        width: 100%;
        max-width: 600px;
   
    }

    h3{
        font-size: 28px;
    }

    h4{
        font-size: 23px;

    }

    p{
        font-size: 18px
    }

    
      @media (min-width: 700px) {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        gap: 2rem;
        padding: 2rem;

        article{
            display: grid;
            grid-template-columns: 64px 1fr;
            gap: 1.5rem;
        

            img{
                width: 85px;
                height: 85px;
            }


            h4,
            p{
                grid-column: 2;
                margin: 0; 
            }
        }
    }

}

footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 10rem;

        @media (min-width: 700px) {
            grid-column: 1 / -1;
            padding: 20rem;

    
    }

}