*{
    font-family:'Lato';
}

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

header{
    padding: 20px;

    img {
        width:80px;
        position: absolute;
        top: 15px;
        left: 10px;
    }
}


.intro{
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    color: var(--white);
    padding: 1.5rem;

    p{
        margin: 1rem 0;
       
    }

    button{
    background-color: transparent;
    color: var(--white);
    }

    @media (min-width: 1440px) {
        
    }
}

.forecast{
    display: grid;
    grid-column: 1 / -1;
    padding: 1rem;
    background-color: var(--secondary-color);

    table{
        width: 100%;
    } 

    img{
       width: 25px;
       height: 25px;
    }
}


form{
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    

    fieldset{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    legend{
        padding: 0.5rem 0;
        font-style: bold;
        font-size: 30px;
        
    }

    label{
        gap: 10px;
    }

    input {
            width: 95%;
            padding: 17px 17px;
            border-radius: 100px;
            border: 1px solid var(--black);
            
            &::placeholder{
                color: var(--black);
                text-align: center;
            }

        }

        button{
            width:95%;
            border-radius: 100px;
            padding: 17px 17px;
            background-color: var(--black);
            color: var(--white);
        }
}

/* animatie interactie */
@keyframes rotateAndColor{
    0%{
        transform: rotate(0deg);
        background-color: transparent;
    }

    50%{
        transform:rotate(360deg);
        background-color: var(--primary-color);
    }

    100%{
        transform: rotate(0deg);
        background-color: var(--primary-color);
    }
}

.rotate{
    animation-name: rotateAndColor;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.current-weather{
    background-color: var(--background-weather);
    grid-column: 1.5rem;

}

 .current-temp{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    background-color: var(--background-weather); 
    padding: 2.5rem;
    margin-top: 1.5rem;
   

    h2{
        grid-column: 1;
        grid-row: 1 / 3;
        margin: 2.5rem;
        font-size: 70px;
        line-height: 28px;
        font-weight: bold;  
    }

    p:first-of-type{
        grid-column: 2;
        grid-row: 1;
        font-weight: 700;
        font-size: 24px;
        font-style: medium;
    }

    p:last-of-type{
        grid-column: 2;
        grid-row: 2;
        font-weight:300;
        font-size: 20px;
        font-style: light;
        
    }
}

.activities,
.avoid-activities{
    padding: 1rem;


    img{
        width: 450px;
        height: 200px;  
    }

    h3{
        font-size: var(--font-size-h3);
        
    }

    h4{
        font-size: var(--font-size-h4);

    }

    p{
        font-size: var(--font-size-text);
    }
}

footer{
    background-color: var(--black);
    color: var(--white);
    padding: 10rem;
    text-align: center;

}






